#loadingScreen {
    position: fixed;
}

#loadingScreenCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    object-fit: cover;
}

#backgroundLoadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    object-fit: cover;
}

.loaded {
    pointer-events: none;
}

.loading {
    pointer-events: all;
}